# 1112_DS_Lab4 Pandas 數據分析套件

In [1]:
import pandas as pd
import numpy as np
import requests

# Pandas 主要資料結構介紹 - Series

### Series 為附帶index的一維numpy array(ndarray)，index是可重複的。
##### Series API Reference: https://pandas.pydata.org/pandas-docs/stable/reference/series.html

#### Series 可儲存不同類別的資料

In [2]:
s = pd.Series(['value1', 1.0, 3])
s

0    value1
1         1
2         3
dtype: object

In [3]:
s[0:3] # Get value with row index

0    value1
1         1
2         3
dtype: object

## Operation

#### 兩Series的Operation(+,-,/,..)會根據相同的index計算，長度不需相同。
#### 計算時只處理index在兩Series index交集的值，若不在交集中則為NaN

In [5]:
a = pd.Series([1,2,3,4,5], index=[0,1,2,3,4])
a

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
b = pd.Series([1,2,3,4,5],index=[1,2,3,4,5])
b

1    1
2    2
3    3
4    4
5    5
dtype: int64

In [7]:
a+b

0    NaN
1    3.0
2    5.0
3    7.0
4    9.0
5    NaN
dtype: float64

#### 若是出現重複的index時則會將所有組合都計算。

#### 下面的例子中 Series a 中有兩個 index 0，因此0在結果(a+b)的index中也出現了兩次，分別是2(1+1)和3(1+2)

In [8]:
a = pd.Series([1,2,3], index=[0,0,1])
b = pd.Series([1,2,3], index=[0,1,2])
print(a)
print(b)
print(a+b)

0    1
0    2
1    3
dtype: int64
0    1
1    2
2    3
dtype: int64
0    2.0
0    3.0
1    5.0
2    NaN
dtype: float64

#### 若是inedx在Series a 和 b中都重複出現時，則會如下所示。
#### index 0在 a和b中各出現了兩次，因此結果便有4個index為0的值，分別為2(1+1)、4(1+3)、3(2+1)、5(2+3)

In [9]:
a = pd.Series([1,2,3], index=[0,0,1])
b = pd.Series([1,2,3], index=[0,1,0])
print(a+b)

0    2
0    4
0    3
0    5
1    5
dtype: int64

# Pandas 主要資料結構介紹 - DataFrame
### dataframe 為二維的、大小可更動的表格資料，可視為dictionary-like的Series。
##### DataFrame API  Reference: https://pandas.pydata.org/pandas-docs/stable/reference/frame.html

In [10]:
df = pd.DataFrame({'column1':[0,1,2,3], 'column2':[4,5,6,7]}, index=[0,1,2,3]) 
df

   column1  column2
0        0        4
1        1        5
2        2        6
3        3        7

In [11]:
df=pd.DataFrame([[0,4],[1,5],[2,6],[3,7]], columns=['Column1','Column2'])
df

   Column1  Column2
0        0        4
1        1        5
2        2        6
3        3        7

In [12]:
df = pd.DataFrame({'column1':[0,1,2,3], 'column2':[4,5,6,7]}, index=[1,2,3,4])#若是沒有指定index，則index從0開始
df

   column1  column2
1        0        4
2        1        5
3        2        6
4        3        7

### 如同Series，可在同一Data Frame中儲存不同型別的資料。

In [13]:
df = pd.DataFrame({'column1':[0, 1, 2, 3], 'column2':[4.0, 'value5', 6, 7]}, index=[1, 2, 3, 4])
df

   column1 column2
1        0       4
2        1  value5
3        2       6
4        3       7

In [14]:
df['column1']

1    0
2    1
3    2
4    3
Name: column1, dtype: int64

## Operation
#### 運算邏輯大致與Series相同，計算時以行、列兩者index皆相同者計算。

#### 兩者計算時只有column name 為'column1'且row index為[1,2,3]的值存在於兩者交集之中，
#### 因此結果為 1(0+1)、3(1+2)、5(2+3)，其餘則為空值。

In [15]:
df1 = pd.DataFrame({'column1':[0,1,2,3], 'column2':[4,5,6,7]}, index=[1,2,3,4])
df2 = pd.DataFrame({'column1':[0,1,2,3], 'column3':[4,5,6,7]})
df1

   column1  column2
1        0        4
2        1        5
3        2        6
4        3        7

In [16]:
df2

   column1  column3
0        0        4
1        1        5
2        2        6
3        3        7

In [17]:
df1+df2

   column1  column2  column3
0      NaN      NaN      NaN
1      1.0      NaN      NaN
2      3.0      NaN      NaN
3      5.0      NaN      NaN
4      NaN      NaN      NaN

## index重複時運算處理

### 若是inedx重複出現時，分為兩種情況。

### 1.重複出現次數一致時

In [18]:
df1 = pd.DataFrame({'column1':[0,1,2,3], 'column2':[4,5,6,7]}, index=[1,2,3,3])
df1

   column1  column2
1        0        4
2        1        5
3        2        6
3        3        7

In [19]:
df2 = pd.DataFrame({'column1':[0,1,2,3], 'column2':[4,5,6,7]}, index=[1,2,3,3])
df2

   column1  column2
1        0        4
2        1        5
3        2        6
3        3        7

#### 此時不像Series出現4筆資料，而是根據位置只計算兩組資料。

In [20]:
df1+df2

   column1  column2
1        0        8
2        2       10
3        4       12
3        6       14

### 2.重複出現次數不一致

In [21]:
df1 = pd.DataFrame({'column1':[0,1,2,3], 'column2':[4,5,6,7]}, index=[1,2,3,3])
df1

   column1  column2
1        0        4
2        1        5
3        2        6
3        3        7

In [23]:
df2 = pd.DataFrame({'column1':[0,1,2,3], 'column2':[4,5,6,7]}, index=[1,3,3,3])
df2

   column1  column2
1        0        4
3        1        5
3        2        6
3        3        7

#### 此時則會計算所有的組合結果

In [24]:
df1+df2 #df2中並沒有 row '2' 因此為空值

   column1  column2
1      0.0      8.0
2      NaN      NaN
3      3.0     11.0
3      4.0     12.0
3      5.0     13.0
3      4.0     12.0
3      5.0     13.0
3      6.0     14.0

# 資料處理
### 以上一章節中使用的股市資料示範如何利用Pandas進行資料篩選以及處理。

### 股市資料

In [25]:
date = "20230320"
url = f'https://www.twse.com.tw/exchangeReport/MI_INDEX?response=json&date={date}&type=ALLBUT0999'
response = requests.get(url)
response_json = response.json()
stock = pd.DataFrame(response_json['data9'], columns=response_json['fields9'])

In [26]:
stock.head()

,證券代號,證券名稱,成交股數,成交筆數,成交金額,開盤價,最高價,最低價,收盤價,漲跌(+/-),漲跌價差,最後揭示買價,最後揭示買量,最後揭示賣價,最後揭示賣量,本益比
0,0050,元大台灣50,"8,071,045","9,955","1,108,232,637",136.80,137.65,136.80,137.00,<p style= color:red>+</p>,0.90,136.95,105,137.00,21,0.00
1,0051,元大中型100,"50,355",96,"3,005,993",59.40,59.75,59.40,59.75,<p style= color:red>+</p>,0.35,59.70,1,59.75,13,0.00
2,0052,富邦科技,"306,756",194,"38,813,583",126.45,127.00,126.20,126.25,<p style= color:red>+</p>,0.45,126.25,10,126.30,1,0.00
3,0053,元大電子,"8,176",12,"538,460",65.80,65.90,65.80,65.90,<p style= color:red>+</p>,0.40,65.80,1,65.85,1,0.00
4,0054,元大台商50,"20,000",7,"607,550",30.37,30.45,30.36,30.36,<p style= color:red>+</p>,0.12,30.36,1,30.47,1,0.00

## 資料篩選 - slice
#### 將第0到第2(3-1)筆資料取出

In [27]:
stock[0:3]

,證券代號,證券名稱,成交股數,成交筆數,成交金額,開盤價,最高價,最低價,收盤價,漲跌(+/-),漲跌價差,最後揭示買價,最後揭示買量,最後揭示賣價,最後揭示賣量,本益比
0,0050,元大台灣50,"8,071,045","9,955","1,108,232,637",136.80,137.65,136.80,137.00,<p style= color:red>+</p>,0.90,136.95,105,137.00,21,0.00
1,0051,元大中型100,"50,355",96,"3,005,993",59.40,59.75,59.40,59.75,<p style= color:red>+</p>,0.35,59.70,1,59.75,13,0.00
2,0052,富邦科技,"306,756",194,"38,813,583",126.45,127.00,126.20,126.25,<p style= color:red>+</p>,0.45,126.25,10,126.30,1,0.00

### Select by location - iloc、iat
#### 取出"位置"在第二筆的資料

In [28]:
stock.iloc[1] #start from 0

證券代號                            0051
證券名稱                         元大中型100
成交股數                          50,355
成交筆數                              96
成交金額                       3,005,993
開盤價                            59.40
最高價                            59.75
最低價                            59.40
收盤價                            59.75
漲跌(+/-)    <p style= color:red>+</p>
漲跌價差                            0.35
最後揭示買價                         59.70
最後揭示買量                             1
最後揭示賣價                         59.75
最後揭示賣量                            13
本益比                             0.00
Name: 1, dtype: object

#### 取出"位置"在第二筆第二行的資料

In [29]:
stock.iat[1,1] #start from 0

'元大中型100'

### Slice by index - loc
#### 取出row index為 0到2的值

In [31]:
stock.loc[0:2]

,證券代號,證券名稱,成交股數,成交筆數,成交金額,開盤價,最高價,最低價,收盤價,漲跌(+/-),漲跌價差,最後揭示買價,最後揭示買量,最後揭示賣價,最後揭示賣量,本益比
0,0050,元大台灣50,"8,071,045","9,955","1,108,232,637",136.80,137.65,136.80,137.00,<p style= color:red>+</p>,0.90,136.95,105,137.00,21,0.00
1,0051,元大中型100,"50,355",96,"3,005,993",59.40,59.75,59.40,59.75,<p style= color:red>+</p>,0.35,59.70,1,59.75,13,0.00
2,0052,富邦科技,"306,756",194,"38,813,583",126.45,127.00,126.20,126.25,<p style= color:red>+</p>,0.45,126.25,10,126.30,1,0.00

取出row index從0到3且column index從"開盤價"到"收盤價"的值

In [32]:
stock.loc[0:3, "開盤價":"收盤價"]

      開盤價     最高價     最低價     收盤價
0  136.80  137.65  136.80  137.00
1   59.40   59.75   59.40   59.75
2  126.45  127.00  126.20  126.25
3   65.80   65.90   65.80   65.90

### 資料篩選 - Mask
#### 透過 loc 以Mask的方式擷取所需的資料

取出row index小於5的資料

In [33]:
print(type(stock.index < 5))
stock.index < 5

<class 'numpy.ndarray'>

array([ True,  True,  True, ..., False, False, False])

In [34]:
stock.loc[stock.index < 5]

,證券代號,證券名稱,成交股數,成交筆數,成交金額,開盤價,最高價,最低價,收盤價,漲跌(+/-),漲跌價差,最後揭示買價,最後揭示買量,最後揭示賣價,最後揭示賣量,本益比
0,0050,元大台灣50,"8,071,045","9,955","1,108,232,637",136.80,137.65,136.80,137.00,<p style= color:red>+</p>,0.90,136.95,105,137.00,21,0.00
1,0051,元大中型100,"50,355",96,"3,005,993",59.40,59.75,59.40,59.75,<p style= color:red>+</p>,0.35,59.70,1,59.75,13,0.00
2,0052,富邦科技,"306,756",194,"38,813,583",126.45,127.00,126.20,126.25,<p style= color:red>+</p>,0.45,126.25,10,126.30,1,0.00
3,0053,元大電子,"8,176",12,"538,460",65.80,65.90,65.80,65.90,<p style= color:red>+</p>,0.40,65.80,1,65.85,1,0.00
4,0054,元大台商50,"20,000",7,"607,550",30.37,30.45,30.36,30.36,<p style= color:red>+</p>,0.12,30.36,1,30.47,1,0.00

複數條件篩選 - row index 大於5且小於10的資料

In [35]:
stock.loc[(stock.index > 5) & (stock.index < 10)]

,證券代號,證券名稱,成交股數,成交筆數,成交金額,開盤價,最高價,最低價,收盤價,漲跌(+/-),漲跌價差,最後揭示買價,最後揭示買量,最後揭示賣價,最後揭示賣量,本益比
6,0056,元大高股息,"6,134,491","4,958","208,341,623",33.90,34.00,33.90,33.95,<p style= color:red>+</p>,0.05,33.94,121,33.95,9,0.00
7,0057,富邦摩台,"23,144",8,"2,217,780",96.00,96.00,95.80,95.80,<p style= color:red>+</p>,0.75,95.60,1,95.90,11,0.00
8,0061,元大寶滬深,"262,411",68,"5,318,398",20.25,20.35,20.18,20.27,<p style= color:red>+</p>,0.02,20.20,10,20.27,1,0.00
9,006203,元大MSCI台灣,"5,308",10,"347,673",65.50,65.50,65.50,65.50,<p style= color:red>+</p>,0.50,65.40,1,65.60,35,0.00

## 型別轉換
#### 在資料中"最高價"被儲存為字串，我們可以將其轉換為數值方便計算。

In [36]:
print(type(stock.最高價[0]))
stock.最高價[0]

<class 'str'>

'137.65'

#### 使用astype將字串轉為float

In [37]:
stock.最高價.head().astype("float")

0    137.65
1     59.75
2    127.00
3     65.90
4     30.45
Name: 最高價, dtype: float64

##### could not convert string to float: '--'
#### 在轉換的過程中出現無法解析的字串時便會發生錯誤

In [38]:
stock.最高價.astype("float")

ValueError: could not convert string to float: '--'

### 使用to_numeric進行轉換，errors參數可指定解析錯誤時的處理，
#### 　　raise:  中斷執行，拋出例外。
#### 　　ignore: 不進行轉換，回傳原值。
#### 　　corece: 回傳 NaN

In [39]:
stock.最高價 = pd.to_numeric(stock.最高價, errors='coerce', downcast='float')

In [40]:
stock.最高價.isnull()

0       False
1       False
2       False
3       False
4       False
        ...
1155    False
1156    False
1157    False
1158    False
1159    False
Name: 最高價, Length: 1160, dtype: bool

In [41]:
stock.最高價[stock.最高價.isnull()]#查看所有轉換後為NaN的值

15     NaN
30     NaN
66     NaN
78     NaN
108    NaN
147    NaN
148    NaN
149    NaN
152    NaN
153    NaN
158    NaN
175    NaN
189    NaN
261    NaN
513    NaN
696    NaN
909    NaN
998    NaN
1001   NaN
1052   NaN
1100   NaN
1105   NaN
1143   NaN
Name: 最高價, dtype: float32

## 使用describe快速了解資料
#### describe根據資料型別，計算簡單的統計結果。

In [42]:
stock.最高價.describe()

count    1137.000000
mean       62.780094
std        96.804382
min         1.260000
25%        19.799999
50%        34.349998
75%        64.599998
max       985.000000
Name: 最高價, dtype: float64

# 資料取代
在"漲跌(+/-)"中資料被儲存為HTML格式，我們將其取代為boolean格式以方便計算。

### 透過使用value_counts查看有多少種不同的值以及其出現次數。

##### *空值將不會出現以及計算出現次數。*

In [44]:
stock['漲跌(+/-)'].value_counts()

<p style= color:red>+</p>      720
<p style= color:green>-</p>    289
<p> </p>                       145
<p>X</p>                         6
Name: 漲跌(+/-), dtype: int64

#### 取代資料中的 + 資料為True

In [45]:
stock['漲跌(+/-)'].replace('<p style= color:red>+</p>', True).head()

0    True
1    True
2    True
3    True
4    True
Name: 漲跌(+/-), dtype: object

#### 也可一次指定多筆取代操作

In [46]:
replace_map = {"<p style= color:red>+</p>":True, "<p style= color:green>-</p>":False}
stock['漲跌(+/-)'].replace(replace_map).value_counts()

True        720
False       289
<p> </p>    145
<p>X</p>      6
Name: 漲跌(+/-), dtype: int64

### 使用map取代資料
#### replace只將所有符合的字串取代
#### 可利用map將其餘值轉換為NaN方便計算

In [47]:
replace_map = {"<p style= color:red>+</p>":True, "<p style= color:green>-</p>":False, True:True, False:False}
#keep True as True, False as False

stock['漲跌(+/-)'] = stock['漲跌(+/-)'].map(replace_map)
stock['漲跌(+/-)'].value_counts()#not include nan

True     720
False    289
Name: 漲跌(+/-), dtype: int64

#### 使用isnull計算空值數量

In [48]:
stock['漲跌(+/-)'].isnull().sum()

151

#### 使用isnull構成mask查詢'漲跌(+/-)'為空值的資料，若是想要查詢'漲跌(+/-)'非空值的資料可使用notnull。

In [49]:
stock[stock['漲跌(+/-)'].isnull()]

,證券代號,證券名稱,成交股數,成交筆數,成交金額,開盤價,最高價,最低價,收盤價,漲跌(+/-),漲跌價差,最後揭示買價,最後揭示買量,最後揭示賣價,最後揭示賣量,本益比
15,00625K,富邦上証+R,0,0,0,--,NaN,--,--,NaN,0.00,7.53,5,7.73,2,0.00
19,00634R,富邦上証反1,"2,396,318",59,"10,687,902",4.48,4.480000,4.39,4.45,NaN,0.00,4.45,1,4.46,600,0.00
21,00636,國泰中國A50,"500,918",195,"11,194,504",22.44,22.549999,22.20,22.24,NaN,0.00,22.24,103,22.27,35,0.00
30,00643K,群益深証中小+R,0,0,0,--,NaN,--,--,NaN,0.00,3.77,1,3.84,1,0.00
50,00666R,富邦恒生國企反1,"535,040",55,"7,788,969",14.30,14.760000,14.30,14.76,NaN,0.00,14.76,1,14.77,5,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1145,9934,成霖,"225,033",106,"3,039,625",13.50,13.550000,13.45,13.50,NaN,0.00,13.50,10,13.55,4,337.50
1146,9935,慶豐富,"124,371",107,"2,171,400",17.50,17.600000,17.40,17.50,NaN,0.00,17.50,1,17.55,10,17.68
1152,9941A,裕融甲特,"25,297",24,"1,290,447",51.10,51.099998,51.00,51.00,NaN,0.00,50.90,26,51.00,3,0.00
1154,9943,好樂迪,"43,198",54,"2,587,292",60.00,60.000000,59.80,60.00,NaN,0.00,59.90,5,60.00,32,240.00
1157,9946,三發地產,"35,241",58,"490,713",13.90,14.000000,13.90,14.00,NaN,0.00,13.95,20,14.00,17,33.33

In [50]:
stock['漲跌(+/-)'].notnull().sum()

1009

In [46]:
stock[stock['漲跌(+/-)'].notnull()].head()

,證券代號,證券名稱,成交股數,成交筆數,成交金額,開盤價,最高價,最低價,收盤價,漲跌(+/-),漲跌價差,最後揭示買價,最後揭示買量,最後揭示賣價,最後揭示賣量,本益比
0,0050,元大台灣50,"8,071,045","9,955","1,108,232,637",136.80,137.649994,136.80,137.00,True,0.90,136.95,105,137.00,21,0.00
1,0051,元大中型100,"50,355",96,"3,005,993",59.40,59.750000,59.40,59.75,True,0.35,59.70,1,59.75,13,0.00
2,0052,富邦科技,"306,756",194,"38,813,583",126.45,127.000000,126.20,126.25,True,0.45,126.25,10,126.30,1,0.00
3,0053,元大電子,"8,176",12,"538,460",65.80,65.900002,65.80,65.90,True,0.40,65.80,1,65.85,1,0.00
4,0054,元大台商50,"20,000",7,"607,550",30.37,30.450001,30.36,30.36,True,0.12,30.36,1,30.47,1,0.00

## apply介紹
### 使用apply將函式套用在所有資料上
#### 上表中我們發現資料集中還是有很多不能直接轉換為數值的字串( 例如超過1000元有含有"',"的符號  1,000 )
#### 透過apply一次將所有可轉為數值的資料進行轉換。

In [51]:
data = stock.loc[:, "成交股數" : "收盤價"]
data.head()

        成交股數   成交筆數           成交金額     開盤價         最高價     最低價     收盤價
0  8,071,045  9,955  1,108,232,637  136.80  137.649994  136.80  137.00
1     50,355     96      3,005,993   59.40   59.750000   59.40   59.75
2    306,756    194     38,813,583  126.45  127.000000  126.20  126.25
3      8,176     12        538,460   65.80   65.900002   65.80   65.90
4     20,000      7        607,550   30.37   30.450001   30.36   30.36

#### replace 參數regex=true 使用正則表達式搜尋並且取代

In [52]:
replace_map = {",":"", "--":np.nan}
data = data.replace(replace_map, regex=True)
data.head()

      成交股數  成交筆數        成交金額     開盤價         最高價     最低價     收盤價
0  8071045  9955  1108232637  136.80  137.649994  136.80  137.00
1    50355    96     3005993   59.40   59.750000   59.40   59.75
2   306756   194    38813583  126.45  127.000000  126.20  126.25
3     8176    12      538460   65.80   65.900002   65.80   65.90
4    20000     7      607550   30.37   30.450001   30.36   30.36

In [53]:
data = data.apply(pd.to_numeric, errors='coerce')#errors為to_numeric之參數
data.head()

      成交股數  成交筆數        成交金額     開盤價         最高價     最低價     收盤價
0  8071045  9955  1108232637  136.80  137.649994  136.80  137.00
1    50355    96     3005993   59.40   59.750000   59.40   59.75
2   306756   194    38813583  126.45  127.000000  126.20  126.25
3     8176    12      538460   65.80   65.900002   65.80   65.90
4    20000     7      607550   30.37   30.450001   30.36   30.36

## 練習: 請問2023/3/27日台灣股市收盤價每一股超過1000元的股票有幾家公司? 這幾家每股超過1000元的平均收盤價是多少? 目前股王是哪一家公司?